.detail-event {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  position: relative;
  box-shadow: 1px 1px 1px 1px rgba(235, 235, 235, 0.2),
    -1px 1px 1px 1px rgba(235, 235, 235, 0.2),
    1px -1px 1px 1px rgba(235, 235, 235, 0.2),
    -1px -1px 1px 1px rgba(235, 235, 235, 0.2);
  margin-top: 20px;
}

.bs4-order-tracking {
  margin-bottom: 30px;
  overflow: hidden;
  color: #878788;
  padding-left: 0px;
  margin-top: 30px;
}
.bs4-order-tracking li {
  list-style-type: none;
  font-size: 13px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: #878788;
  text-align: center;
}
.bs4-order-tracking li:first-child:before {
  margin-left: 15px !important;
  padding-left: 11px !important;
  text-align: left !important;
}
.bs4-order-tracking li:last-child:before {
  margin-right: 5px !important;
  padding-right: 11px !important;
  text-align: right !important;
}
.bs4-order-tracking li > div {
  color: #fff;
  width: 29px;
  text-align: center;
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #878788;
  border-radius: 50%;
  margin: auto;
}
.bs4-order-tracking li:after {
  content: "";
  width: 150%;
  height: 2px;
  background: #878788;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1;
}
.bs4-order-tracking li:first-child:after {
  left: 50%;
}
.bs4-order-tracking li:last-child:after {
  left: 0% !important;
  width: 0% !important;
}
.bs4-order-tracking li.active {
  font-weight: bold;
  color: #d87449;
}
.bs4-order-tracking li.active > div {
  background: #d87449;
}
.bs4-order-tracking li.active:after {
  background: #d87449;
}
.card-timeline {
  background-color: #fff;
  z-index: 0;
}

.card.card-timeline.px-3.border-none {
  border: none;
  margin-top: -10px;
}
.bat_buoc {
  color: red;
}

.form-select.custom {
  height: 40px;
}

.row.title-regester-event {
  margin-bottom: 15px;
  font-size: 18px;
}

.list_resource {
  margin-top: 10px;
}
.btn_add_resource {
  width: 130px;
  margin-bottom: 10px;
  border: none;
  height: 33px;
  border-radius: 3px;
  font-size: 14px;
  color: white;
  background-color: rgb(244, 151, 53);
}

.btn_add_resource:hover {
  width: 130px;
  margin-bottom: 10px;
  border: none;
  height: 33px;
  border-radius: 3px;
  font-size: 14px;
  color: white;
  background-color: rgb(225, 116, 0);
}

.btn_add_category {
  border: none;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  width: 130px;
  background-color: rgb(244, 151, 53);
  border-radius: 3px;
}

.btn_add_category:hover {
  border: none;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  width: 130px;
  background-color: rgb(230, 134, 32);
  border-radius: 3px;
}

.btn_edit_resource {
  border: none;
  height: 28px;
  border-radius: 3px;
  font-size: 13px;
  color: white;
  background-color: rgb(63, 119, 198);
}

.btn_edit_resource:hover {
  border: none;
  height: 28px;
  border-radius: 3px;
  font-size: 13px;
  color: white;
  background-color: rgb(20, 85, 176);
}

.btn_delete_resource {
  border: none;
  height: 28px;
  border-radius: 3px;
  font-size: 13px;
  color: white;
  background-color: rgb(239, 66, 66);
}

.btn_delete_resource:hover {
  border: none;
  height: 28px;
  border-radius: 3px;
  font-size: 13px;
  color: white;
  background-color: rgb(211, 33, 33);
}

.save_detail_event {
  border: none;
  font-size: 15px;
  background-color: rgb(63, 119, 198);
  height: 35px;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}
.description_resource {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}
.save_detail_event:hover {
  border: none;
  font-size: 15px;
  background-color: rgb(28, 90, 177);
  height: 35px;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}

.delete_thumbnail {
  border: none;
  width: 100%;
  font-size: 15px;
  height: 33px;
  border-radius: 5px;
  background-color: #e9e9e9;
}

.delete_thumbnail:hover {
  border: none;
  width: 100%;
  font-size: 15px;
  height: 33px;
  color: white;
  border-radius: 5px;
  background-color: #b6b6b6;
}

#scroll-top-btn {
  position: fixed;
  bottom: 40px;
  right: 50px;
  border: none;
  width: 130px;
  font-size: 15px;
  height: 35px;
  color: white;
  border-radius: 5px;
  background-color: rgb(63, 119, 198);
}

#scroll-top-btn:hover {
  position: fixed;
  bottom: 40px;
  right: 50px;
  border: none;
  width: 130px;
  font-size: 15px;
  height: 35px;
  color: white;
  border-radius: 5px;
  background-color: rgb(28, 90, 177);
}

.quill_descriptions {
  font-size: 16px;
}

.active_url {
  color: #e44e0e;
  text-decoration: underline;
}